header {
    background-color:  #CCCCCC;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.titulotitulo{
    font-size: xx-large;
    font-weight: bolder;
}
nav{
    position: absolute;
    top: 110px;
    right:0px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size:  22px;
    text-decoration: none;
}
nav a:hover{
    color: #c68c19
}
.tituloPrincipal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.tituloCentralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: red;
}

#mision{
    font-size:20px;
}

.diferenciales{
    background-color: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}
